body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(159, 214, 247);
}

body img {
    width: 100%;
    height: auto;
    max-width: 502px;
    max-height: 75px;
}

#canvas-2d {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    object-fit: contain;
    background-color: rgb(159, 214, 247);
    cursor: crosshair;
}

#start-screen {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
    background-color: rgb(159, 214, 247);
}

.fade-box {
    transition: opacity 1s, visibility 1s;
    opacity: 1;
    visibility: visible;
}

.fade-box.is-hide {
    opacity: 0;
    visibility: hidden;
}

#start-button {
    display: inline-block;
    padding: 0.3em 1em;
    font-size: 0.75em;
    background: rgb(255,163,59);
    color: black;
    border: solid 2px black;
    border-radius: 3px;
    transition: .4s;
}

#start-button:hover {
    background: black;
    color: rgb(255,163,59);
}

#logo {
    margin: 0 auto;
}

#nickname {
    padding: 0.3em;
    font-size: 0.5em;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
}

#nickname:focus {
	border-bottom: 2px solid rgb(255,163,59);
	outline: none;
}

